<?xml version="1.0"?>
<configuration>
  <!--数据库连接配置-->
  <connectionStrings>
    <!--公司外网服务器-->
    <!--<add name="ConnectionString" connectionString="Data Source=123.232.119.26;Initial Catalog=DB_DoseenDesign; Persist Security Info=True;User ID=DB_DoseenDesign;Password=doseensoft"/>-->
    <!--热电设计院本地服务器-->
    <!--<add name="ConnectionString" connectionString="Data Source=10.10.12.3;Initial Catalog=DB_DoseenDesign; Persist Security Info=True;User ID=DB_DoseenDesign;Password=doseensoft"/>-->
    <!--小ibm笔记本作为服务器-->
    <!--<add name="ConnectionString" connectionString="Data Source=172.19.80.41;Initial Catalog=DB_DoseenDesign; Persist Security Info=True;User ID=sa;Password=doseensoft"/>-->
    <!--本地数据库-->
    <add name="ConnectionString" connectionString="Data Source=.;AttachDbFilename='C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\newnew\DB_DoseenDesign_Data.MDF';Integrated Security=True"/>
  </connectionStrings>
  <system.web>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN"/>
    <pages enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <!--最大请求限制1000M、页面执行超时20分钟 requestValidationMode为了检测到有潜在危险的 Request.Form 值-->
    <httpRuntime maxRequestLength="1024000" executionTimeout="1200"/>
    <!--URL错误跳转-->
    <customErrors mode="Off" defaultRedirect="Error/Default.html">
      <error statusCode="404" redirect="Error/404.html"/>
    </customErrors>
    <httpHandlers>
      <!--URL重写映像-->
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>